<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cat Vs Dog Classifier</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info bg-opacity-50">
    <div
      class="w-full text-center align-center d-flex justify-content-center py-4"
    >
      <form
        class="w-50 d-flex flex-column p-4 m-2 bg-white rounded"
        method="post"
        action="{{ url_for('home') }}"
        enctype="multipart/form-data"
      >
        <label class="display-3 pb-3">Cats Vs Dogs Classifier</label>
        <div class="d-flex flex-row">
          <img src="/static/images/cat.jpg" class="w-50 px-1" />
          <img src="/static/images/dog.jpg" class="w-50 px-1" />
        </div>
        <div class="d-flex p-2 justify-content-center">
          <label class="p-3 display-5"
            >Enter Image:
            <input
              type="file"
              name="image"
              class="btn btn-secondary text-center"
              required
          /></label>
        </div>
        <div class="pb-4 pt-2">
          <button type="submit" class="btn btn-primary w-75">Predict</button>
        </div>
        <div class="d-flex justify-content-center">
          {% if var1 %}
          <div class="d-flex flex-column my-auto">
            <label class="display-6 my-3 mx-3">{{ var1.src }}</label>
            <label class="display-6 mx-3"
              >Prediction: {{ var1.prediction }}</label
            >
          </div>
          <img src="/static/submitted/{{var1.src}}" class="w-50 px-1" />
          {% endif %}
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
